{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <body id="page-top">
        <!-- About section-->
        <section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>개발 기술 블로그입니다.</h2>
                        <p class="lead">이 블로그는 Python, Django, Nginx 등 웹 프로그래밍과 관련 된 모든 기술의 이슈를 정리하는 블로그입니다.</p>
                        
                        <p class="lead">아래는 해당 블로그에서 다루는 기술 스택입니다.</p>

                        <ul>
                            <li>Python</li>
                            <li>Django</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Linux</li>
                            <li>Nginx</li>
                            <li>MySQL</li>
                            <li>PostgreSQL</li>
                        </ul>
                        <a class="btn btn-secondary rounded" href="{% url 'blog:post_list'%}">포스트 보러가기</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2></h2>
                        <p class="lead"></p>

                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">           
        </footer>


{% endblock %}